<ion-header>

  <ion-navbar>
    <!-- <ion-nav [root]="rootPage"></ion-nav>   -->
    <ion-title>Book List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-input type="text" placeholder="Search Book..." (input)="searchBook($event)"></ion-input>
  

  <ion-list *ngIf="!isfiltered">
    <ion-item *ngFor="let book1 of bookList" (click)="itemTapped($event,book1)">
      <h2>{{book1.title}}</h2>
      <p>{{book1.author}}</p>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="isfiltered">
    <ion-item *ngFor="let book of filteredBooks" (click)="itemTapped($event,book)">
      <h2>{{book.title}}</h2>
      <p>{{book.author}}</p>
    </ion-item>
  </ion-list>