<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-nav [root]="rootPage"></ion-nav>   -->
    <ion-title>Book List</ion-title> 
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-input type="text" placeholder="Search Book..." (input)="searchBook($event)"></ion-input>
  
  <ion-list *ngIf="!isfiltered">
    <ion-item *ngFor="let book1 of bookList" (click)="itemTapped($event,book1)">
      <ion-thumbnail item-left>
        <img src="http://placehold.it/300X300"/>
      </ion-thumbnail>
      
      <p>{{book1.title}}</p>
      <p>{{book1.author}}</p>
    </ion-item>    
  </ion-list>

  <ion-list *ngIf="isfiltered">
    <ion-item *ngFor="let book of filteredBooks" (click)="itemTapped($event,book)">
      <ion-thumbnail item-left>
            <img src="http://placehold.it/300X300"/>
      </ion-thumbnail>
      <p>{{book.title}}</p>
      <p>{{book.author}}</p>
    </ion-item>
  </ion-list>
</ion-content>